body {
	margin: 0;
	padding: 0;
	text-align: left;
	color: #061C37;
	background: #BFCBD4;
}

#background{
position:absolute;
top:0px;
left:0px;
width:100%;
height:100%;
background-color:#BFCBD4;
}

*
{
  margin: 0 auto 0 auto;
 text-align:left;
 }

#container
{
  display: block; 
  height:auto;
  position: relative; 
  width: 940px;
}

#mainpic
{
width:960px;
height:429px;	
margin:0 auto;
border-radius:50px;
}


#content_main_img{
width:960px;
height:429px;
padding:0px;
background-color:transparent;
}

.off
{
color:#3A6028;	
}


.content{
width:940px;
background-color:#FFF;
font-family: 'Roboto Condensed', sans-serif;
font-size: 16px;
font-weight:300;
color:#a5a5a5;
padding-left:10px;
padding-right:10px;
padding-bottom:5px;
border-radius:50px;
margin:30px 0 30px 0;
-webkit-box-shadow: -4px 4px 5px 0px rgba(50, 50, 50, 0.2);
-moz-box-shadow:    -4px 4px 5px 0px rgba(50, 50, 50, 0.2);
box-shadow:         -4px 4px 5px 0px rgba(50, 50, 50, 0.2);
}

.content h1 {
width: 100%;
text-align: center;
color: #1C7159;
font-weight:700;
padding-top: 12px;
font-size: 30px;
letter-spacing: -1px; 
line-height: 33px;   
padding-bottom: 5px;
}

.content h3 {
font-size: 26px;
font-weight:400;
font-style:italic;
text-align:center;
color:#8d8d8d;
text-transform: uppercase; 
margin: 10px 0 0 0; 
border-bottom: 1px solid #cfcfcf; 
padding-bottom: 3px;
}


.content p
{
width:910px;	
padding:5px 0 10px 0;
}

.content table p {
text-align:center;
width:313px;
}

.content ul{
padding-top:10px;
padding-bottom:10px;
}

.content p a:link {color:#6EC43E;}

.content p a:visited {color:#0099DF;}

.content p a:hover {color:#E2780E;}

.content li a:link {color:#6EC43E;}

.content li a:visited {color:#0099DF;}

.content li a:hover {color:#E2780E;}

#quarantine_map{
padding:5px 0px 30px 0px;
}

#map{background-color:#eee; top: 10px; left: 0; bottom: 20px; width: 940px; height:500px; margin-bottom:30px;}
#map2{background-color:#eee; position:relative; top: 10px; left: 0; bottom: 20px; width: 940px; height:500px; margin-bottom:30px;}

#footer
{
width:inherit;
height:auto;
text-align:center;
color:#808080;
}

#footer p
{
display:inline;
text-align:center;
font-size:12px;
text-decoration:none;
}

html, body {
text-align: center;
}


.popup_container {
max-width:auto;
min-height:200px;
max-height:250px;
margin:0px;
}

.popup_container h4{
max-width:350px;
margin:0px;
padding:2px 0px 2px 0px;
}

.popup_container p{
max-width:300px;
margin:0px;
padding:2px 0px 2px 0px;
}





/* Slideshow images/slides */

.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  { outline: none; }
 
.slides,
.flex-control-nav,
.flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}
 
.flexslider a img { outline: none; border: none; }
 
.flexslider {
    margin: 0;
    padding: 0;
}

.flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
}
 
.flexslider .slides img {

    display: block;
 
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.slides:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
html[xmlns] .slides { display: block; }
* html .slides { height: 1%; }

.flexslider {
    position: relative;
	height:500px;
    zoom: 1;
    padding: 10px;
    background: #ffffff;
 
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
 
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0, .2);
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0, .2);
    box-shadow: 0px 1px 1px rgba(0,0,0, .2);
}

.flex-container {
    min-width: 150px;
    max-width: 960px;
	height:500px;
	padding-bottom:60px;
}
 
.flexslider .slides { zoom: 1; height:500px; }

/* Control arrows */

.flex-direction-nav a {
    display: block;
    position: absolute;
    margin: -17px 0 0 0;
    width: 35px;
    height: 35px;
    top: 50%;
    cursor: pointer;
    text-indent: -9999px;
 
    background-color: #82d344;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#82d344), to(#51af34));
    background-image: -webkit-linear-gradient(top, #82d344, #51af34);
    background-image: -moz-linear-gradient(top, #82d344, #51af34);
    background-image: -o-linear-gradient(top, #82d344, #51af34);
    background-image: linear-gradient(to bottom, #82d344, #51af34);
}

.flex-direction-nav a:before {
    display: block;
    position: absolute;
    content: '';
    width: 55px;
    height: 30px;

}
 
.flex-direction-nav a:after {
    display: block;
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    top: 35px;
}

.flex-direction-nav .flex-next {
    right: -5px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
        background: url(../img/next_button.png) no-repeat;
}
 
.flex-direction-nav .flex-prev {
    left: -5px;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    background: url(../img/prev_button.png) no-repeat;
}
 
/*.flex-direction-nav .flex-next:before { background-position: -9px 0; left: 15px; }
.flex-direction-nav .flex-prev:before { background-position: 0 0; }
 
.flex-direction-nav .flex-next:after {
    right: 0;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #31611e;
}
 
.flex-direction-nav .flex-prev:after {
    left: 0;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #31611e;
}

/* Slider controls */

.flexslider .flex-control-nav {
    position: absolute;
    width: 100%;
    bottom: -40px;
    text-align: center;
    margin: 0 0 0 -10px;
}
 
.flex-control-nav li {
    display: inline-block;
    zoom: 1;
}
 
.flex-control-paging li a {
    display: block;
    cursor: pointer;
    text-indent: -9999px;
    width: 12px;
    height: 12px;
    margin: 0 3px;
    background-color: #b6b6b6 \9;
 
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
 
    -webkit-box-shadow: inset 0 0 0 2px #b6b6b6;
    -moz-box-shadow: inset 0 0 0 2px #b6b6b6;
    box-shadow: inset 0 0 0 2px #b6b6b6;
}
 
.flex-control-paging li a.flex-active {
    background-color: #82d344;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#82d344), to(#51af34));
    background-image: -webkit-linear-gradient(top, #82d344, #51af34);
    background-image: -moz-linear-gradient(top, #82d344, #51af34);
    background-image: -o-linear-gradient(top, #82d344, #51af34);
    background-image: linear-gradient(to bottom, #82d344, #51af34);
 
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}


/* Photo captions */
.flexslider .slides p {
    display: block;
	background-color:white;
    position: absolute;
	text-align:center;
    left: 0;
    bottom: 0;
    padding: 10px 5px 5px 5px;
    margin: 0;
    font-size: 14px;
    line-height: 20px;

 
}



/* Map 2 legend */

	#legend-content {
	position:absolute;
	  height:75px;
	  width:305px;
	  left:55px;
	  bottom:1645px;
	  z-index:9999;
	  background-color:white;
	  padding:5px;
	}

    .my-legend .legend-title {
      text-align: center;
      margin-bottom: 15px;
      font-weight: bold;
      font-size: 100%;
      }

    .my-legend .legend-source {
      font-size: 70%;
      color: #999;
      clear: both;
      }
	  
	  .my-legend .legend-scale table tr td{
	  text-align:center;
	  padding:0px 12px 0px 12px;
	  }

      
    .my-legend .legend-scale table tr td img {
      }