body { margin:4; padding:0; font-family:"Helvetica Neue", sans-serif; background-color:#005943; }


#map, #map2 { position:absolute; top:0px; left:0px; bottom:0; width:60%; border-right:2px solid #fff; border-top:2px solid #fff;}

#map3 {position:absolute; top:60px; left:4px; right:4px; bottom:0px; border-top:2px solid #fff;}

/*#cm-map-logo {
	z-index:100;
	position:absolute;
	left:45px;
	top:50px;
	height:54px;
	width:58px;
}*/

#navigation, #navigation2 {
    background:#fff;
    position:absolute;
    top:0px;
    right:0px;
    bottom:0;
    width:40%;
	margin:0 0 0 5px;
	overflow:auto;
	border-left:2px solid #fff;
	border-top:2px solid #fff;
}
#navigation a {
    display:block;
}

/* Content styles */

h1 {
font-family:'Helvetica Neue', sans-serif;
text-align:center;
border-bottom:1px solid rgb(220,220,220);
margin:10px auto;
width:90%;
}

h3 {
font-family:'Helvetica Neue', sans-serif;
text-align:center;
border-bottom:1px solid rgb(220,220,220);
margin:10px auto;
width:90%;
}

#content_1 ul {
margin-right:3px;
}

#contact_info p{
font-size:10px;
}

#content_1 p {
margin:0px auto;
padding:0px 10px 0px 10px;
}

#content_1 ul li span {
text-decoration:underline;
}

#content_10 p {
margin:0px 10px 10px 10px;
}

.streamdata {
margin:0 auto;
}

.piecharts {
max-width:90%;
height:auto;
margin:0 auto;
}


/* POPUP styles */
.popup {
    text-align: center;
	height:400px;
	overflow:auto;
	margin-right:-13px;
	padding-right:10px;
	z-index:9999;
}
.popup .slideshow {
    width: 100%;
}
.popup .slideshow .image {
    display: none;
}
.popup .slideshow .active {
    display: block;
}
.popup .slideshow img {
    width: 100%;
}
.popup .slideshow .caption {
    background: #eee;
    padding: 8px;
}
.popup .cycle {
    height: 30px;
    margin-top: 5px;
    padding-top: 5px;
}
.popup .cycle a.prev {
    float: left;
}
.popup .cycle a.next {
    float: right;
}

.total_table tr {
border:1px solid rgb(200,200,200);
border-collapse:collapse;
font-size:12px;
}

.total_table  td{
border:1px solid rgb(200,200,200);
border-collapse:collapse;
font-size:12px;
}

table {
width:100%;
border-collapse:collapse;
}

.odd_tr {
background-color:rgb(230,230,230);
}

#behi_scores-values {
font-size:12px;
width:96%;
}




/* Navigation Bar Styles*/

#cssmenu {
  border: none;
  border: 0px;
  margin: 0px;
  padding: 0px;
  font: 67.5% 'Lucida Sans Unicode', 'Bitstream Vera Sans', 'Trebuchet Unicode MS', 'Lucida Grande', Verdana, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  width: auto;
}
#cssmenu ul {
			background: #f7e0b2; /* Old browsers */
			background: -moz-linear-gradient(top,  #f7e0b2 0%, #c19e67 52%, #99774e 99%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7e0b2), color-stop(52%,#c19e67), color-stop(99%,#99774e)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #f7e0b2 0%,#c19e67 52%,#99774e 99%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #f7e0b2 0%,#c19e67 52%,#99774e 99%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #f7e0b2 0%,#c19e67 52%,#99774e 99%); /* IE10+ */
			background: linear-gradient(to bottom,  #f7e0b2 0%,#c19e67 52%,#99774e 99%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7e0b2', endColorstr='#99774e',GradientType=0 ); /* IE6-9 */

  height: 35px;
  list-style: none;
  margin: 0;
  padding: 0;
}
#cssmenu li {
  float: left;
  padding: 0px;
}
#cssmenu li a {
			background: #f7e0b2; /* Old browsers */
			background: -moz-linear-gradient(top,  #f7e0b2 0%, #c19e67 52%, #99774e 99%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7e0b2), color-stop(52%,#c19e67), color-stop(99%,#99774e)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #f7e0b2 0%,#c19e67 52%,#99774e 99%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #f7e0b2 0%,#c19e67 52%,#99774e 99%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #f7e0b2 0%,#c19e67 52%,#99774e 99%); /* IE10+ */
			background: linear-gradient(to bottom,  #f7e0b2 0%,#c19e67 52%,#99774e 99%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7e0b2', endColorstr='#99774e',GradientType=0 ); /* IE6-9 */

  display: block;
  font-weight: normal;
  line-height: 35px;
  margin: 0px;
  padding: 0px 25px;
  text-align: center;
  text-decoration: none;
}
#cssmenu > ul > li > a {
  color: #fff;
}
#cssmenu ul ul a {
  color: #fff;
}
#cssmenu li > a:hover,
#cssmenu ul li:hover > a {
  /*background: #2580a1 url(images/hover.png) bottom center no-repeat;*/
  color: #FFFFFF;
  text-decoration: none;
}
#cssmenu li ul {
  background: #99774e;
  display: none;
  height: auto;
  padding: 0px;
  margin: 0px;
  border: 0px;
  position: absolute;
  width: 225px;
  z-index: 200;
  /*top:1em;
	/*left:0;*/

}
#cssmenu li:hover ul {
  display: block;
}
#cssmenu li li {
  display: block;
  float: none;
  margin: 0px;
  padding: 0px;
  width: 225px;
}
#cssmenu li:hover li a {
  background: none;
}
#cssmenu li ul a {
  display: block;
  height: 35px;
  font-size: 12px;
  font-style: normal;
  margin: 0px;
  padding: 0px 10px 0px 15px;
  text-align: left;
}
#cssmenu li ul a:hover,
#cssmenu li ul li:hover > a {
  background: #f7e0b2;
  border: 0px;
  color:#4c4c4c;
  text-decoration: none;
}
#cssmenu p {
  clear: left;
}

.down_arrow {
  padding-left:5px;
  padding-bottom:1px;
  display:inline-block;
}

/* Navigation Bar Styles*/

#cssmenu2 {
  border: none;
  border: 0px;
  margin: 0px;
  padding: 0px;
  font: 67.5% 'Lucida Sans Unicode', 'Bitstream Vera Sans', 'Trebuchet Unicode MS', 'Lucida Grande', Verdana, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  width: auto;
}
#cssmenu2 ul {
			background: #f7e0b2; /* Old browsers */
			background: -moz-linear-gradient(top,  #f7e0b2 0%, #c19e67 52%, #99774e 99%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7e0b2), color-stop(52%,#c19e67), color-stop(99%,#99774e)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #f7e0b2 0%,#c19e67 52%,#99774e 99%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #f7e0b2 0%,#c19e67 52%,#99774e 99%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #f7e0b2 0%,#c19e67 52%,#99774e 99%); /* IE10+ */
			background: linear-gradient(to bottom,  #f7e0b2 0%,#c19e67 52%,#99774e 99%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7e0b2', endColorstr='#99774e',GradientType=0 ); /* IE6-9 */

  height: 35px;
  list-style: none;
  margin: 0;
  padding: 0;
}
#cssmenu2 li {
  float: left;
  padding: 0px;
}
#cssmenu2 li a {
			background: #f7e0b2; /* Old browsers */
			background: -moz-linear-gradient(top,  #f7e0b2 0%, #c19e67 52%, #99774e 99%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7e0b2), color-stop(52%,#c19e67), color-stop(99%,#99774e)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #f7e0b2 0%,#c19e67 52%,#99774e 99%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #f7e0b2 0%,#c19e67 52%,#99774e 99%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #f7e0b2 0%,#c19e67 52%,#99774e 99%); /* IE10+ */
			background: linear-gradient(to bottom,  #f7e0b2 0%,#c19e67 52%,#99774e 99%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7e0b2', endColorstr='#99774e',GradientType=0 ); /* IE6-9 */

  display: block;
  font-weight: normal;
  line-height: 35px;
  margin: 0px;
  padding: 0px 25px;
  text-align: center;
  text-decoration: none;
}
#cssmenu2 > ul > li > a {
  color: #fff;
}
#cssmenu2 ul ul a {
  color: #fff;
}
#cssmenu2 li > a:hover,
#cssmenu2 ul li:hover > a {
  /*background: #2580a1 url(images/hover.png) bottom center no-repeat;*/
  color: #FFFFFF;
  text-decoration: none;
}
#cssmenu2 li ul {
  background: #99774e;
  display: none;
  height: auto;
  padding: 0px;
  margin: 0px;
  border: 0px;
  position: absolute;
  width: 225px;
  z-index: 200;
  /*top:1em;
	/*left:0;*/

}
#cssmenu2 li:hover ul {
  display: block;
}
#cssmenu2 li li {

  display: block;
  float: none;
  margin: 0px;
  padding: 0px;
  width: 225px;
}
#cssmenu2 li:hover li a {
  background: none;
}
#cssmenu2 li ul a {
  display: block;
  height: 35px;
  font-size: 12px;
  font-style: normal;
  margin: 0px;
  padding: 0px 10px 0px 15px;
  text-align: left;
}
#cssmenu2 li ul a:hover,
#cssmenu2 li ul li:hover > a {
  background: #f7e0b2;
  border: 0px;
  color:#4c4c4c;
  text-decoration: none;
}
#cssmenu2 p {
  clear: left;
}



/* Stream Info DIVs */
#content_2, #content_3 , #content_4, #content_5, #content_6, #content_7, #content_8, #content_9, #content_10, #content_11{ display:none; }

#content14_2, #content14_3 {display:none;}







/* LEGEND */

	#legend-content, #legend-content2 {
	  position:absolute;
	  height:70px;
	  width:305px;
	  left:10px;
	  bottom:20px;
	  background-color:white;
	  padding:5px;
	}

    .my-legend .legend-title {
      text-align: center;
      margin-bottom: 15px;
      font-weight: bold;
      font-size: 100%;
      }
    .my-legend .legend-scale ul {
      margin: 0;
      padding: 0;
      float: left;
      list-style: none;
      }
    .my-legend .legend-scale ul li {
      display: block;
      float: left;
      width: 50px;
      margin-bottom: 6px;
      text-align: center;
      font-size: 55%;
      list-style: none;
      }
    .my-legend ul.legend-labels li span {
      display: block;
      float: left;
      height: 5px;
      width: 48px;
      margin:6px 0 6px 0;
      }
    .my-legend .legend-source {
      font-size: 70%;
      color: #999;
      clear: both;
      }
    .my-legend a {
      color: #777;
      }
      
      .legend_img {
      	height:30px;
      	width:21px;
      }



.total_table {
width:90%;
margin:0 auto;
margin-top:10px;
margin-bottom:15px;
font-size:18px;
}
	  
.rank_table {
width:90%;
margin: 0 auto;
margin-bottom:15px;
}  

.rank_table th {
background-color:rgb(200,200,200);
}

.length_column {
text-align:right;
}

.percent_column {
text-align:center;
}



/*----- Tabs -----*/
.tabs {
    width:100%;
    display:inline-block;
}
 
    /*----- Tab Links -----*/
    /* Clearfix */
	.tab-links{
		margin-bottom:-1px;
		border-bottom:2px solid #fff;
		z-index:9999;
	}
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
 
    .tab-links li {
        margin:0px 5px;
        float:left;
        list-style:none;
		-webkit-box-shadow: -4px -3px 5px 0px rgba(50, 50, 50, 0.75);
		-moz-box-shadow:    -4px -3px 5px 0px rgba(50, 50, 50, 0.75);
		box-shadow:         -4px -3px 5px 0px rgba(50, 50, 50, 0.75);
    }
 
        .tab-links a {
            padding:9px 15px;
            display:inline-block;
            border-radius:3px 3px 0px 0px;
            font-size:16px;
            font-weight:800;
			text-decoration:none;
            color:#fff;

			background: #f7e0b2; /* Old browsers */
			background: -moz-linear-gradient(top,  #f7e0b2 0%, #c19e67 52%, #99774e 99%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7e0b2), color-stop(52%,#c19e67), color-stop(99%,#99774e)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #f7e0b2 0%,#c19e67 52%,#99774e 99%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #f7e0b2 0%,#c19e67 52%,#99774e 99%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #f7e0b2 0%,#c19e67 52%,#99774e 99%); /* IE10+ */
			background: linear-gradient(to bottom,  #f7e0b2 0%,#c19e67 52%,#99774e 99%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7e0b2', endColorstr='#99774e',GradientType=0 ); /* IE6-9 */



        }
 
        .tab-links a:hover {
            background:#fff;
            text-decoration:none;
			color:#4c4c4c;
        }
 
    li.active a, li.active a:hover {
        background:#fff;
        color:#4c4c4c;
    }
 
    /*----- Content of Tabs -----*/
    .tab-content {
        padding:15px;
        border-radius:3px;
        background:#fff;
		-webkit-box-shadow: -2px -2px 5px 0px rgba(50, 50, 50, 0.75);
		-moz-box-shadow:    -2px -2px 5px 0px rgba(50, 50, 50, 0.75);
		box-shadow:         -2px -2px 5px 0px rgba(50, 50, 50, 0.75);
    }
 
        .tab {
            display:none;
        }
 
        .tab.active {
            display:block;
        }
