/*----- Tabs -----*/
body{
	margin:4px;
	background-color:#005943;
}
.tabs {
    width:100%;
    display:inline-block;
}
 
    /*----- Tab Links -----*/
    /* Clearfix */
	.tab-links{
		margin-bottom:-1px;
		border-bottom:2px solid #fff;
	}
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
 
    .tab-links li {
        margin:0px 5px;
        float:left;
        list-style:none;
    }
 
        .tab-links a {
            padding:9px 15px;
            display:inline-block;
            border-radius:3px 3px 0px 0px;
            background:#B3804B;
            font-size:16px;
            font-weight:800;
			text-decoration:none;
            color:#fff;
            transition:all linear 0.15s;
        }
 
        .tab-links a:hover {
            background:#fff;
            text-decoration:none;
			color:#4c4c4c;
        }
 
    li.active a, li.active a:hover {
        background:#fff;
        color:#4c4c4c;
    }
 
    /*----- Content of Tabs -----*/
    .tab-content {
        padding:15px;
        border-radius:3px;
        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
        background:#fff;
		border-left:2px solid #99774E;
		border-right:2px solid #99774E;
		border-bottom:2px solid #99774E;
    }
 
        .tab {
            display:none;
        }
 
        .tab.active {
            display:block;
        }