/* Credit: http://www.templatemo.com */

body, html { overflow-x: hidden; }

body {
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:300; 
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6, span, p, tr, th, td {font-family: 'Roboto Condensed', sans-serif; }

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}



/* Preloader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff; /* change if the mask should have another color then white */
    z-index: 99; /* makes sure it stays on top */
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%; /* centers the loading animation horizontally one the screen */
    top: 50%; /* centers the loading animation vertically one the screen */
    background-image: url(../images/status.gif); /* path to your loading animation */
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px; /* is width and height divided by two */
}

/* General */
#main-wrapper {
     overflow: hidden;
}

.templatemo-site-title { 
    color: #fff !important; 
    text-shadow: -2px 0px 4px rgba(0, 0, 0, 1);
	font-size: 48px;
}

.templatemo-site-title a, .templatemo-site-title a:hover { 
	color: #fff;
	text-decoration: none;
}

img.slide {
    width: 100%; 
    z-index: -9999999; 
    position: absolute;
}

.active {
    display: block;
}

.inactive {
    left: 703px;
    display: none;
}

.image-section {
    position: fixed;
}

.image-container {
    position: relative;
}

.image-container img {
    position: absolute;
}

.templatemo-content {
    position: static;
    overflow: hidden; 
    margin-top: 20%;
}

.templatemo-content section {
    font-family: 'Roboto Condensed', sans-serif;
    position: relative; 
    overflow: hidden;
    top: 0; 
    background-color: rgba(255,255,255,0.75);
    padding-bottom: 20px;
}


.templatemo-content-wrapper {
    overflow: hidden;
}

.templatemo-content h2 {
    color: #000;
    font-family: 'Roboto Condensed', sans-serif;
}

.templatemo-content p {
    font-family: 'Roboto Condensed', sans-serif;
    color: #000;
    font-size: 16px;
}

.menu {
    position: fixed; 
    width: 220px;
    z-index: 1; 
    top: 105px;
}

#menu-list {
    background-color: rgba(0, 0, 0,0.5);
    font-size: 16px; 
    padding: 0;
}

#menu-list > li {
    display: block;
}


#menu-list > li > a {
    font-family: 'Roboto Condensed', sans-serif; 
    padding: 10px 0 10px 30px; 
    text-decoration: none; 
    display: block;
    color: #fff; 
}

#menu-list > .active > a,
#menu-list > li > a:hover { 
    background-color: rgba(255,255,255,0.25);
}


#responsive {
    font-size: 16px;
    padding: 0;
    background-color: rgba(0,0,0,0.5);
}

#responsive li {
    display: block;
}

#responsive li a {
    font-family: 'Roboto Condensed', sans-serif; 
    color: #fff; 
    text-decoration: none; 
    padding: 10px 0;
    display: block;
}

#responsive > .active > a,
#responsive li a:hover {
    background-color: rgba(0,0,0,0.5);
}

#map-canvas {
	height: 256px;
	margin-bottom: 10px;
}

.templatemo-content {
    padding-bottom: 6%;
}

.footer {
    overflow: hidden; 
    position: fixed; 
    bottom: 10px;
}

.footer-text {
    font-family: 'Roboto Condensed', sans-serif; 
    color: #fff; 
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 1);
    margin-left: 30px;
    font-size: 14px;
}

.footer-text a, .footer-text a:hover { 
	color: #fff;
	text-decoration: none;
}

@media (max-width: 991px) {
    .footer {
        overflow:hidden; 
        position:static;
        text-align: center;
        
    }
    .footer-text {
        margin-left: 0;
    }
}

#cmp_logo {
position:absolute;
bottom:5px;
left:5px;
}

#alert {
color:#F63832;
}

#contacts_text {
text-align:center;
}

#document_downloads {
width:90%;
height:auto;
}

#document_downloads tr td {
padding:5px;
font-size:1.3em;
}

#document_downloads tr th {
padding:5px;
font-size:1.4em;
}

#behi_metrics li {
font-size:1.3em;
}

#behi_metrics li span {
font-size:1.3em;
text-decoration:underline;
}


